@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
::after::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$normal-text: hsl(240, 6%, 50%);
$active-text: hsl(237, 12%, 33%);
$divider-color: hsl(240, 5%, 91%);
$Softred: hsl(14, 88%, 65%);

:root {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: "Kumbh Sans";
  font-weight: 400;
  font-size: 12px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0%;
  overflow: hidden;
}

h1 {
  margin-bottom: 40px;
}

main {
  background-color: white;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  padding-right: 8%;
  overflow: hidden;
  width: 68%;
  min-width: 700px;
  // height: 75vh;
  min-height: 430px;
  max-height: 430px;
  .image-section {
    position: relative;
    right: 10%;
    width: 75%;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: left;
    height: 100%;
  }
  img {
    padding-top: 5%;
    transform: scale(0.9);
  }
  .box {
    position: absolute;
    top: 28%;
    z-index: 1;
    left: 5%;
  }
  .text-section {
    position: relative;
    width: 100%;
    max-width: 50%;
    margin: 5% 0 10% 0;
    .question {
      display: flex;
      font-size: 13px;
      align-items: center;
      justify-content: space-between;
      color: $normal-text;
      padding-right: 15px;
      transition: padding-bottom 0.7s;
      cursor: pointer;
      img {
        transform: scale(0.9);
      }
    }
    .question:hover {
      color: $Softred;
    }
    .question-active {
      color: $active-text;
      font-weight: 700;
      padding-bottom: 10px;
      transition: padding-bottom 0.2s;

      .icon {
        transform: rotate(180deg);
      }
    }
    hr {
      margin: 15px 0px;
      color: $divider-color;
    }
    .answer {
      max-height: 0;
      overflow: hidden;
      color: $normal-text;
      transition: max-height 0.1s, opacity 0.3s;
    }
    .answer-active {
      display: inline;
      max-height: 500px;
      opacity: 1;
      transition: max-height 0.9s, opacity 0.3s;
    }
  }
}

@media screen and (max-width : 950px)  {
  main{
    .box{
      top: 30%;
      left: 0%!important;
    }
  }
}
@media screen and (max-width : 850px)  {
  main{
    .box{
      top: 30%;
      left: -5%!important;
    }
  }
}
@media screen and (max-width : 700px)  {

  main{
    position: relative;
    flex-direction: column;
    overflow: visible;
    min-width: 250px;
    height: 60vh;
    min-height: 0vh;
    padding: 0 15px 15px 15px;
    justify-items: flex-end;
    align-items: center;
    padding-bottom: 15px;
    max-width: 300px;

    .text-section{
      position: relative;
      max-width: 95%;
      height:auto;
      padding: 0;
      margin: 0;
      top: 20%;
      .question{
        padding: 0;
       font-size: 12px;

      }
      h1{
        text-align: center;
      }
    }
    .image-section{
      position: absolute;
      height: auto;
      width: 80%;
      background-position: 0% 190%;
      padding-bottom: 25px;
      top: -30%;
      // transform: scale(0.8);
    }
    .box{
      display: none;
      top: 30%;
      left: -5%!important;
    }
  }
}